name: Build Mace Mod
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 8
      uses: actions/setup-java@v1
      with:
        java-version: 8
    - name: Build
      run: |
        chmod +x gradlew || true
        gradle build
    - name: Save
      uses: actions/upload-artifact@v2
      with:
        name: MyMaceMod
        path: build/libs/*.jar
